 <!-- <mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="isSidebarOpen ? 'side' : 'over'"[opened]="isSidebarOpen" *ngIf="isSidebarOpen">
    <mat-toolbar>Dashboard</mat-toolbar> -->
    <!-- <mat-nav-list class="sidebar-list">
      <a mat-list-item  href="#" class="menu-width"> 
        <mat-icon mat-list-icon class="menu-icon" >supervisor_account</mat-icon>
        <span mat-line>Customers</span>
      </a>
      <a mat-list-item href="#" class="menu-width"> 
        <mat-icon class="menu-icon" >payment</mat-icon>
        <span mat-line>Payments</span>
      </a>
      <a mat-list-item href="#" class="menu-width"> 
        <mat-icon class="menu-icon" >settings</mat-icon>
        <span mat-line>Settings</span>
      </a>
    </mat-nav-list>  -->
     <!-- </mat-sidenav> 
     <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> -->
