// .container{
// background-color: black;
// color:white;
// padding:10px;
// margin:20px;
// text-align: center;
// max-width:500px;
// }

mat-card {
    // max-width:800px;
    max-width:100%;
    // margin: 0 auto;
    padding:20px;
    // background-color: rgb(243, 241, 239);
  }
  @media only screen and (min-width: 1080px) {
   mat-card{
    width:100%;
    }
  }
// .form-div{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height:100vh;
//     height:400px;
// }  
.card-content {
    height: auto; 
    max-height: 100%;
    // overflow-y : auto;
    padding: 16px;
    margin:50px auto;
}
mat-card-header 
{
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-card-title
{ 
  font-size: 24px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

.form-content{
    padding-top: 1.3rem;
}
mat-slide-toggle{
   margin-bottom:20px;
}

mat-form-field{
    width:100%;
}

.button-row{
  display:flex;
    justify-content: center;
    align-items: center;
}
button{
    margin:20px;
}
.file-ip{
  border:1px solid grey;
  padding:10px;
  border-radius: 5px;
  margin-bottom:20px;
}
.edit{
  margin-left: 50%;
  margin-right:8%;
}
