.sidenav-container {
  height: 100%;
}

//   .mat-drawer-container {
//     height: 100%;
//   }

.sidenav {
  bottom:0;
  width: 240px;
  height: 100vh;
  overflow: auto;
  background-color: aquamarine;
}

.main-content {
  max-height: calc(100vh - 56px);
  margin: 16px;
  padding:20px;
  overflow-y: auto;
  background-color: palevioletred;
}
.nav-list {
  max-height: calc(100vh - 56px); /* 56px is the height of the mat-toolbar */
  overflow-y: auto;
}


.nav-list::-webkit-scrollbar {
  width: 10px;
  height:2px;
}

.nav-list::-webkit-scrollbar-track {
  background-color: #2e2c2c94;
  // margin-block: 0.5em;
  border-radius: 100vw;
}

.nav-list::-webkit-scrollbar-thumb {
  background-color: #61666d;
  border-radius: 10px;
border:2px solid rgba(59, 59, 59, 0.205);
}

.nav-list::-webkit-scrollbar-thumb:hover {
  background-color: #b6b3b9;
}


.main-content::-webkit-scrollbar {
  width: 10px;
  height:2px;
}

.main-content::-webkit-scrollbar-track {
  background-color: #2e2c2c94;
  // margin-block: 0.5em;
  border-radius: 100vw;
}

.main-content::-webkit-scrollbar-thumb {
  background-color: #61666d;
  border-radius: 10px;
border:2px solid rgba(59, 59, 59, 0.205);
}

.main-content::-webkit-scrollbar-thumb:hover {
  background-color: #b6b3b9;
}

@media only screen and (max-width: 600px) {
  mat-sidenav{
    width: 100%;
  }
}
